/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.image-with-text {
  display: block;
}

.image-with-text > img {
  max-width: 100%;
}

.image-with-text-p-font {
  font-size: 18px;
  font-weight: 300;
  color: #999999;
}

