/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.image-with-text {
  display: block;
}

.image-with-text > img {
  max-width: 100%;
}

.image-with-text-p-font {
  font-size: 115%;
  font-weight: 300;
  color: #333;
  outline: 0;
  line-height: 1.5;
}

.home-headimage {
  position: relative;
#  background: url('../img/photogrid.jpg') center center repeat;
  background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.home-headimage .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  #background: #38a7bb;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.home-headimage .overlay-text {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.home-headimage h1 {
  color: white;
}

.home-headimage p {
  color: white;
  font-size: 150%
}
