{{ if isset .Site.Params "image_with_text" }}
{{ if .Site.Params.image_with_text.enable }}
{{ if gt (len .Site.Data.image_with_text) 0 }}
<section class="bar background-white">
    <div class="container">
        {{ range $index, $element := sort .Site.Data.image_with_text "weight" }}
	     <div class="row clearfix">
		<div class="col-md-6  {{ if eq $element.image_on_left false }} image-right {{ end }}">
                    <div class="image-with-text">
			<img src="{{ $element.imgsrc }}" class="img-responsive"/>
                    </div>
                </div>
		<div class="col-md-6">
			<h3>{{ $element.name | markdownify }} </h3>
                        <p>{{ $element.description | markdownify }}</p>
			<p class="read-more">
                    		<a href="{{ $element.link_url }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>
			</p>

		</div>
	     </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
